body {
    background-image: url("../../src/loginBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

label {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
}

input {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #ff00009c;
    border: none;
    box-shadow: 0 0 30px black;
    border-radius: 20px;
    text-align: center;
}

.formText {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

button {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: #dfdfdf9c;
    border: none;
    box-shadow: 0 0 30px black;
    border-radius: 20px;
    text-align: center;
    margin-top: 30px;
}

button:hover {
    background-color: #dfdfdf;
    cursor: pointer;
    transition: 3s;
}